.ItemListContainer {
    background-color: rgb(235, 235, 235);
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: auto;
}

.productCard {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}
.productImage {
    height: 10rem;
}
.botonDetails {
    background-color: rgb(69, 72, 81);
    color: white;
    transition: all 0.3s ease 0s;
}
.botonDetails:hover {
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.5);
    border: none;
    transform: translateY(-4px);
}
