.addToCartContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.addToCart {
    display: flex;
    width: 50%;
    align-items: center;
}
.quitar, .agregar {
    flex: 1;
    background-color: white;
    border: 2px solid #454851;
}
.cantidad {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.alCarrito {
    background-color: #454851;
    color: white;
}
.alCarrito:hover {
    color: #2bd9fe;
    background-color: #06184b;
    
}