.addToCartContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.addToCart {
    display: flex;
    width: 50%;
    align-items: center;
}
.quitar, .agregar {
    flex: 1;
    background-color: white;
    border: 2px solid #454851;
}
.cantidad {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.alCarritoBtn {
    background-color: rgb(69, 72, 81);
    color: white;
    transition: all 0.3s ease 0s;
}
.alCarritoBtn:hover {
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.5);
    border: none;
    transform: translateY(-4px);
}
.alCarritoBtn:active{
    background-color: white;
    color: rgb(69, 72, 81);;
}
.alCarritoBtn:focus{
    outline: none;
}