.ItemListContainer {
    background-color: rgb(235, 235, 235);
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: auto;
}

.productCard {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}
.productImage {
    height: 10rem;
}
.botonDetails {
    background-color: #454851;
    color: white;
}