.CarritoDeCompra {
    width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}

.CarritoDeCompraProductos {
    text-align: left;  
}

.CarritoDeCompraProducto {
    background-color: rgb(235, 235, 235);
    padding: 1rem 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}


.nameInCart{
    flex: 4;
}
.quantityNpriceInCart{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}
.quantityInCart{
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.priceInCart{
color: rgb(0, 86, 0);
font-weight: bold;
}


.comprar {
    display: flex;
    /* justify-content: right; */
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 1rem;
}

.formulario {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.PrecioTotal {
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    margin: 0;
    align-self: self-start;
    padding: 1rem;
    border-radius: 0.5rem;
    
    
}
.realizarPedidoBtn {
    background-color: #454851 ;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.realizarPedidoBtn:hover {
    box-shadow: 4px 4px 8px  rgba(0, 0, 0, 0.5);
    border: none;
    transform: translateY(-4px);
}

