.navBar {
    background-color: #454851 ;
    color: #f0eff4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
}
.marca {
    font-size: 2rem;
}
h1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    /* gap: 2rem; */
    padding: 0;
    background-color: rgba(53, 56, 63, 0.75);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
}
ul li {
    color: white;
}
ul li:hover {
    color: #2bd9fe;
}

.linkInicio, .linkElectronicos, .linkJoyeria, .linkContacto {
    /* border-right:  1px solid #62ac5a; */
    padding-inline: 2rem;
}


.navSelected {
    padding-inline: 2rem;
    background-color: #62ac5a;
    border-radius: 1rem;
}